# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Entornos de desarrollo
.env
.env.local
.env.*.local

# Archivos de construcción
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos temporales
*.log
*.tmp

# Otros
coverage/
*.tgz
*.zip
